@font-face {
  font-family: "iconfont";
  /* Project id 3216588 */
  src: url('../fonts/iconfont.woff2?t=1652623273296') format('woff2'),
    url('../fonts/iconfont.woff?t=1652623273296') format('woff'),
    url('../fonts/iconfont.ttf?t=1652623273296') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangshang1:before {
  content: "\e76d";
}

.icon-xiangxia1:before {
  content: "\e771";
}

.icon-mima:before {
  content: "\e620";
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-shouji:before {
  content: "\e6b7";
}

.icon-sousuo1:before {
  content: "\e693";
}

.icon-shouye:before {
  content: "\e63c";
}

.icon-fangzi:before {
  content: "\e663";
}

.icon-arrow-right:before {
  content: "\e622";
}

.icon-dizhi:before {
  content: "\e606";
}

.icon-kefu:before {
  content: "\e625";
}

.icon-tuijian:before {
  content: "\e60f";
}

.icon-remen:before {
  content: "\e6be";
}

.icon-tuichu:before {
  content: "\e61e";
}

.icon-tuichu1:before {
  content: "\e69e";
}

.icon-shanchu:before {
  content: "\e600";
}

.icon-shijian:before {
  content: "\e64d";
}

.icon-fanhui:before {
  content: "\e624";
}